body {
    margin: 0px;
    background-color: #323232;
}


.navBar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #323232;
    font-family: "Quicksand", sans-serif;
 
}

.leftSide {
    display: flex;
}

.navBar > .leftSide > div {
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.navLink {
    height: 22px;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
}

.navLink a{
    color: lightseagreen;
    text-decoration: none;
    transition: color .05s;
 }

 .brand {
     color: lightseagreen;
     font-size: 1em;
 }

 .navLink:hover {
     border-bottom: 1px solid white;
 }

 .navLink a:hover {
    color: white;
}

.active-navLink{
    border-bottom: 1px solid white;
}


.active-navLink a{
    color:white !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* home page */ 

.twoColumn{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileImage{
    padding-left: 100px;
    height: fit-content;
    width: 100%;
    
}

.profileContent h1 {
    font-size: 75px;
    color: lightseagreen;
    font-family: "Montserrat", sans-serif;
}

.profileContent p {
    font-size: 25px;
    color: white;
    font-family: "Crimson Text", serif;
}

.profileContent{
    padding-top: 150px;
    padding-right: 38px;
}

/*resume */

.resume{
    height: fit-content;
   /* padding-top: 100px;
    padding-bottom: 50px;*/

}

/* portfolio */ 

table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;

}

tr{
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    text-align: left;
    vertical-align: top;

}


.heading{
    padding-left: 38px;
    color: lightseagreen;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    

}

.descriptionTitle {
    color: lightgray;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

    

.description {
    font-size: 20px;
    color: white;
    font-family: "Crimson Text",serif;
    
}

.description a{
    font-size: 30px;
    color: white;
    font-family: "Crimson Text", serif;
}
 .description a:hover {
     border-bottom: 1px solid lightseagreen;
 }

 .description a:hover {
    color: lightseagreen;
}


.workaround{
    padding-top: 30px;
}

/* conatact page */ 

.contactInformation{
    padding-left: 38px;
}

.email{
    display: flex;
    
}

.Insta{
    display: flex;
}


.contactInformation h1{
    text-align: center;
    font-size: 60px;
    color: lightseagreen;
    font-family: "Montserrat", sans-serif;
}

.contactInformation p {
    margin-left: 15px;
    position: relative;
    bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: "Crimson Text", serif;
}
.email a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.email a:hover {
    border-bottom: 1px solid lightseagreen;
}

.email a:hover {
   color: lightseagreen;
}

.Insta a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.Insta a:hover {
    border-bottom: 1px solid lightseagreen;
}

.Insta a:hover {
   color: lightseagreen;
}

.LinkedIn{
    display: flex;
}

.LinkedIn a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.LinkedIn a:hover {
    border-bottom: 1px solid lightseagreen;
}

.LinkedIn a:hover {
   color: lightseagreen;
}