.navBar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.leftSide {
    display: flex;
}

.navBar > .leftSide > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}