body {
    margin: 0px;
    background-color: #323232;
}


.navBar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #323232;
 
}

.leftSide {
    display: flex;
}

.navBar > .leftSide > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navLink {
    height: 22px;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
}

.navLink a{
    color: lightseagreen;
    text-decoration: none;
    transition: color .05s;
 }

 .brand {
     color: lightseagreen;
 }

 .navLink:hover {
     border-bottom: 1px solid white;
 }

 .navLink a:hover {
    color: white;
}

.active-navLink{
    border-bottom: 1px solid white;
}


.active-navLink a{
    color:white !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* home page */ 

.twoColumn{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileImage{
    padding-left: 100px;
    height: fit-content;
    width: 100%;
    
}

.profileContent h1 {
    font-size: 75px;
    color: lightseagreen;
}

.profileContent p {
    font-size: 25px;
    color: white;
}

.profileContent{
    padding-top: 150px;
}

.resume{
    height: fit-content;
}